.centreCardsContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

.card {
  min-width: 400px;
}

.searchBar {
  margin: auto;
  width: 80%;
}

.searchBar form input {
  width: 80%;
  margin-right: 16px;
}
