.main p {
  margin: 0;
  margin-bottom: 2px;
}

.main {
  padding: 16px;
  box-sizing: border-box;
}

.modal {
  margin-top: 5%;
  margin-left: 5%;
  border: none;
}

.closeButton {
  position: fixed;
  top: 0;
  right: 0;
}
