.image
{
  background-image: url("../../assets/vaccum.png");
  width: 200vh;
  height: 100vh;
  background-repeat: no-repeat;
}
.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  color: rgb(37, 33, 33);
  background-color: rgb(243, 245, 247);
}
.element {
text-align: center;
 width:100%; 

}


